@import url('https://fonts.cdnfonts.com/css/eingrantch-mono');
@import url('https://fonts.cdnfonts.com/css/rem');

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'REM', sans-serif;

  .app-top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .app-title {
      font-family: 'Eingrantch Mono', sans-serif;
      user-select: none;
      cursor: pointer;
    }

    .profile-pic {
      border-radius: 5rem;
      cursor: pointer;
      transition: box-shadow .25s ease-in-out;
    }

    .profile-pic:hover {
      box-shadow: 0px 0px 20px white;
    }
  }

  .profile-menu {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 12vh;
    right: 0;
    height: 100vh;
    width: 0vw;
    overflow: hidden;
    text-align: center;
    background-color: rgb(75, 75, 75);
    transition: width .25s ease-in-out;

    .menu-btn {
      display: none;
    }
  }

  .profile-menu-show {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    right: 0;
    height: 100vh;
    text-align: center;
    border: 1px solid white;
    border-radius: .25rem;
    background-color: rgb(75, 75, 75);
    transition: width .25s ease-in-out;

    .menu-btn:first-child {
      margin-top: 2rem;
    }

    .menu-btn {
      background-color: white;
      border: .5rem solid black;
      border-radius: 2rem;
      padding: .75rem;
      font-size: 1.75rem;
    }
  }

  .menu-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.25rem;
    margin: 1.5rem;

    .menu-bar-link {
      text-decoration: none;
      border: .25rem solid white;
      border-radius: 2rem;
      padding: .5rem 1rem;
      color: white;
      transition: background-color .5s ease-in-out;
    }

    .menu-bar-link:hover {
      color: black;
      background-color: white;
    }
  }

  .tracked-coins-header {
    text-align: center;
    font-size: 2.75rem;
    text-decoration: underline;
  }

  .ticker-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;

    a {
      color: white;
    }
  }

  .edit-coins-button {
    display: block;
    margin: 1.5rem auto;
    padding: .5rem 1rem;
    background-color: white;
    color: black;
    border: .5rem solid white;
    border-radius: 1rem;
    font-size: 1.75rem;
    cursor: pointer;
  }

  .article-header {
    margin-top: 5rem;
    text-align: center;
    font-size: 2.75rem;
    text-decoration: underline;
  }

  .article-tile {
    margin: 1.5rem auto;
    width: 80vw;
    border: 1px solid white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .article-title {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      background-color: white;
      color: black;
      margin-top: 0;
      font-size: 1.25rem;
      text-align: center;
    }

    .article-content {
      cursor: pointer;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .article-img {
        height: 125px;
        width: 175px;
        margin-bottom: 1rem;
      }

      .article-desc {
        width: 50%;
        text-align: center;
        user-select: none;
      }
    }
  }

  .coin-header {
    text-align: center;
    text-decoration: underline;
    font-size: 2.5rem;
  }

  .coin-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;

    .link-to-coin {
      color: white;
      font-size: 1.5rem;
      margin: .75rem 0;
    }
  }

  .coin-index-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button:disabled {
      background-color: black;
      color: white;
      border: .25rem solid white;
    }

    .active-btn {
      padding: .5rem 1.25rem;
      border-radius: 2rem;
      font-size: 2.25rem;
      border: none;
      background-color: white;
      color: black;
    }
  }

  .news-header {
    text-align: center;
    text-decoration: underline;
    font-size: 2.5rem;
  }

  .news-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-bottom: 1rem;

    button {
      padding: .5rem 1.25rem;
      border-radius: 2rem;
      font-size: 1.5rem;
      border: none;
      background-color: white;
      color: black;
    }

    button:disabled {
      background-color: black;
      color: white;
      border: .25rem solid white;
    }
  }

  .coin-show-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .following-btn {
      padding: .5rem 1rem;
      font-size: 1.5rem;
      border-radius: 2rem;
      border: .25rem solid silver;
      background-color: gold;
      color: black;
    }

    .follow-btn {
      padding: .5rem 1rem;
      font-size: 1.5rem;
      border-radius: 2rem;
      border: .25rem solid silver;
      background-color: transparent;
      color: white;
    }
  }
  .coin-price-details {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 1.5rem;
  }
  .article-list-header {
    text-align: center;
    text-decoration: underline;
  }

  .coin-articles-buttons {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;

    button:disabled {
      background-color: black;
      color: white;
      border: .25rem solid white;
    }

    .article-btn {
      padding: .5rem 1.25rem;
      border-radius: 2rem;
      font-size: 1.5rem;
      border: none;
      background-color: white;
      color: black;
    }
  }
}

@media (max-width: 576px) {
  .app-title {
    font-size: 3rem;
  }

  .profile-pic {
    border: .25rem solid white;
  }

  .profile-menu-show {
    top: 6rem;
    width: 65vw;

    .menu-btn:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .app-title {
    font-size: 3.5rem;
  }

  .profile-pic {
    border: .25rem solid white;
  }

  .profile-menu-show {
    top: 6rem;
    width: 60vw;

    .menu-btn:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .app-title {
    font-size: 4rem;
  }

  .profile-pic {
    border: .35rem solid white;
  }

  .profile-menu-show {
    top: 6rem;
    width: 50vw;

    .menu-btn:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .app-title {
    font-size: 5rem;
  }

  .profile-pic {
    height: 5rem;
    width: 5rem;
    border: .5rem solid white;
  }

  .profile-menu-show {
    top: 8rem;
    width: 50vw;

    .menu-btn:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 1200px) {
  .app-title {
    font-size: 5rem;
  }

  .profile-pic {
    height: 5rem;
    width: 5rem;
    border: .5rem solid white;
  }

  .profile-menu-show {
    top: 8rem;
    width: 25vw;

    .menu-btn:hover {
      cursor: pointer;
    }
  }
}